<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Example.Web</title>
    <link href="~/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
    <link rel="preload" href="~/lib/font-awesome/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="default" asp-controller="Dashboard" asp-action="Index">Example.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-dark" toggle="dropdown" role="button" data-toggle="dropdown"><i class="fas fa-tools"></i> Function1</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Function1-1</a>
                                <a class="dropdown-item" href="#">Function1-2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Function1-3</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-dark" toggle="dropdown" role="button" data-toggle="dropdown"><i class="fas fa-tools"></i> Example</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" asp-area="default" asp-controller="Example" asp-action="Report">Report</a>
                                <a class="dropdown-item" asp-area="default" asp-controller="Example" asp-action="Qr">QR</a>
                            </div>
                        </li>
                        <li if="@User.IsInRole(Role.Admin)" class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-dark" toggle="dropdown" role="button" data-toggle="dropdown"><i class="fas fa-tools"></i> Administration</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item @ViewContext.IsControllerActive("admin", "User").Active()" asp-area="admin" asp-controller="User" asp-action="Index">User</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li if="@String.IsNullOrEmpty(User.Identity?.Name)" class="nav-item">
                            <a class="nav-link text-dark" asp-area="default" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li if="@(!String.IsNullOrEmpty(User.Identity?.Name))" class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-dark" toggle="dropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-alt"></i> @User.Identity?.Name</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">FunctionX</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="default" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Example.Web
        </div>
    </footer>
<environment include="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
@await RenderSectionAsync("Scripts", required: false)
<environment exclude="Production">
    <mini-profiler position="@RenderPosition.Right" max-traces="5" />
</environment>
</body>
</html>
